.primary {
    padding: 20px 35px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 5px;

    &.disabled {
        background-color: #707070;
        color: #DDDDDD;
        cursor: default;
    }
}

.secondary {
    background-color: #3C3429;
    color: #fff;
    padding: 20px 35px;
    border-radius: 20px;

    &.light {
        color: #3C3429;
        background-color: #DDDDDD;
    }
}

.tertiary {
    text-align: center;
    color: #8A90AB;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.primary, .secondary, .tertiary {
    cursor: pointer;
    display: block;
    text-decoration: none;

    &.center {
        margin: 0 auto;
    }

    &.right {
        margin: 0 0 0 auto;
    }

}